<div class="contact_small">
    <strong>{{characterName}}</strong><br />
    <strong>{{race}} {{class}} {{level}}</strong><br />
    {{alignment}} {{size}} {{gender}} {{hitPoints}}hp<br/>
    S:{{abilityScores.strength}}
    D:{{abilityScores.dexterity}}
    C:{{abilityScores.constitution}}
    I:{{abilityScores.intelligence}}
    W:{{abilityScores.wisdom}}
    CH:{{abilityScores.charisma}}
</div>
