<div class="character_full">
    <strong>Character Name:</strong> {{characterName}}<br/>
    <strong>Player Name:</strong> {{playerName.first}} {{playerName.last}}<br/>
    <strong>Class:</strong> {{class}} <strong>Level:</strong> {{level}} <strong>ECL:</strong> {{ecl}}<br/>
    <strong>Race:</strong> {{race}} <strong>Template:</strong> {{template}}<br/><br/>
    <strong>Size:</strong> {{size}} <strong>Gender:</strong> {{gender}} <strong>Alignment:</strong> {{alignment}}<br/>
    <strong>Religion/Patron Deity:</strong> {{patronDeity}}<br/>
    <strong>Weight:</strong> {{weight}} <strong>Description:</strong> {{description}}<br/>
    <strong>STR:</strong> {{abilityScores.strength}}
    <strong>DEX:</strong> {{abilityScores.dexterity}}
    <strong>CON:</strong> {{abilityScores.constitution}}
    <strong>INT:</strong> {{abilityScores.intelligence}}
    <strong>WIS:</strong> {{abilityScores.wisdom}}
    <strong>CHA:</strong> {{abilityScores.charisma}}<br/>
    <strong>HP:</strong> {{hitPoints}}<br/><br/>

</div>

<a href="#" class="back"><< Back</a> | <a href="#" class="delete">Delete Character</a>
